<div class="boxCart">
  <div>
    <button id="btnShopping" routerLink="/shopping"
            [disabled]="_shoppingService.cartIsEmpty()"
            [ngClass]="{'btn btn-success':!_shoppingService.cartIsEmpty(),
                        'btn btn-primary':_shoppingService.cartIsEmpty()
                        }">
      <span class="glyphicon glyphicon-shopping-cart"></span>
      <p id="showNbCartItems"> {{ totalCartItems }}</p>
    </button>

    <p *ngIf="_shoppingService.cartIsEmpty()" class="text-primary">Votre panier est vide !</p>
    <p *ngIf="!_shoppingService.cartIsEmpty()" class="text-success bold">Commandez !</p>

  </div>
</div>


<div class="shopping">

  <p class="text-primary bold">Liste des bières</p>

  <div class="container">

    <ul class="list-group">
      <li class="list-group-item"
          *ngFor="let beer of beers">

        <a (click)="onSelect(beer)">
          <img [src]="beer.imgUrl">
          <h4>La {{ beer.name }}</h4>
        </a>

        <button class="btn btn-primary" (click)="addShopping(beer)"> Ajouter au panier </button>

      </li>
    </ul>


  <div *ngIf="_selectedBeer"
  class="list-group-item detailBeer">
    <h2>La {{_selectedBeer.name}}</h2>
    <img [src]="_selectedBeer.imgUrl" alt="">
    <p class="contains">{{ _selectedBeer.contains }}</p>
    <p class="price">Taux d'alcool : {{ _selectedBeer.alcoholDegre }} degré. - Catégorie : bière {{ _selectedBeer.categorie }}</p>
    <h4> Prix : <span class="bold"> {{ _selectedBeer.price }} euro </span></h4>
  </div>
  </div>

</div>


