<!-- acces au panier par un component externe -->

<div class="boxCart">
  <app-order-cart></app-order-cart>
</div>


<!-- affiche la liste des bières -->

<div class="shopping">

  <p class="text-primary bold">Liste des bières</p>

  <div class="container">

    <ul class="list-group">
      <li class="list-group-item"
          *ngFor="let beer of beers">

        <a (click)="onSelect(beer)">
          <img [src]="beer.imgUrl">
          <h4>La {{ beer.name }}</h4>
        </a>

        <button class="btn btn-primary" (click)="addShopping(beer)"> Ajouter au panier</button>

      </li>
    </ul>

 <!-- BeerDetail
    <div *ngIf="_selectedBeer"
         class="list-group-item detailBeer">
      <h2>La {{_selectedBeer.name}}</h2>
      <img [src]="_selectedBeer.imgUrl" alt="">
      <p class="contains">{{ _selectedBeer.contains }}</p>
      <p class="price">Taux d'alcool : {{ _selectedBeer.alcoholDegre }} degré. - Catégorie :
        bière {{ _selectedBeer.categorie }}</p>
      <h4> Prix : <span class="bold"> {{ _selectedBeer.price }} euro </span></h4>
    </div>
  </div>
  -->

    <!--BeerDetail à récupérer à partir du composant externe -->

      <div *ngIf="_selectedBeer"
           class="list-group-item detailBeer">
        <app-beer-detail [beer]="_selectedBeer"></app-beer-detail>
      </div>

  </div>

</div>


