<!--
<div class="btnCenter">
  <button class="btn btn-success" (click)="goBack()">goBack</button>
</div>
-->

<div class="btnCenter">
  <button class="btn btn-primary" id="btnGoToBeerList"
          routerLink="/list">Retour à la liste des bières
  </button>
</div>

<div *ngIf="_shoppingService.cartIsEmpty()">
  <h3>Votre panier est vide !</h3>
</div>


<div *ngIf="!_shoppingService.cartIsEmpty()">
  <h3>Votre panier contient les éléments suivants : </h3>
  <hr>
  <app-shopping-list></app-shopping-list>

 </div>


<!-- affiche la popIn de connexion -->

<div class="btnCenter" *ngIf="!_shoppingService.cartIsEmpty()">
  <button class="btn btn-success"
          (click)="handleConnectToCountRequest(_shoppingService.cartItems)">Passer la commande</button>

  <!--<app-pop-in *ngIf="cartToValidated != null"-->
                      <!--title="Connexion"-->
                      <!--[buttons]="popInButtonsConnexion" (onButtonToConnectClick)="handleConnectToCountEvent($event)">-->
    <!---->
  <!--</app-pop-in>-->

  <app-connexion *ngIf="cartToValidated != null"
                 (onButtonToConnectClick)="handletoCloseConnexionEvent($event)"
                                          ></app-connexion>

</div>

<hr>



